:root {
	--font-color-dark: #222222;
	--font-color-bright: #888888;
	--header-background: #F6F6F7;
	--border-lightgrey: #CCCCCC;
	--border-darkgrey: #222222;
}

body {
	font-family: sans-serif;
}

#myCart {
	width: 70%;
	margin: auto auto 30px auto;
	background-color: var(--header-background);
	text-align: right;
	padding: 8px 20px 8px 20px;
	border-radius: 5px;
}

#main-contents {
	width: 60%;
	margin: auto;
	display: flex;
	justify-content: space-around;
}

#main-contents-img{
	width: 40%;
	height: auto;
}

#main-contents-description {
	width: 40%;
	font-size: 1.25em;
}

#miniCart {
	display:none;
	position: absolute;
	width: 10vw;
	top: 39px;
	right: 14.5%;
	border-style: solid;
	border-width: 1px;
	border-color: var(--border-lightgrey);
	background-color: white;
	padding: 10px;

}


button {
	width: 40%;
	padding: 10px;
	background-color: white;
	border-style: solid;
	border-width: 4px;
	border-color: #000;
	text-align: center;
	font-size: 19px;
	margin-top: 8px;
	font-weight: bold;
}

.item-img {
	width: 35%;
}

button:hover {
	background-color: #000;
	color: white;
}

@media (max-width: 768px) {
	#main-contents {
		width: 100%;
		display:flex;
		flex-direction: column;
	}
	/*.main-content {*/
		/*width: 100%;*/
	/*}*/
	#main-contents-img{
		width: 88%;
		margin-left: auto;
		margin-right: auto;
	}
	#main-contents-description {
		width: 100%;
	}

	#myCart {
		width: 85%;

	}

	#miniCart {
		width: 90%;
		left: 3%;
		right: 1px;
	}

}

@media (min-width: 769px) and (max-width:1263px) {
	#main-contents {
		width: 80%;
		margin: auto;
		display: flex;
		justify-content: space-around;
	}
	#main-contents-img{
		width: 50%;
	}
	#main-contents-description {
		width: 100%;
	}

	#myCart {
		width: 85%;

	}

	#miniCart {
		display:none;
		position: absolute;
		width: 25vw;
		top: 39px;
		right: 6.5%;
		border-style: solid;
		border-width: 1px;
		border-color: var(--border-lightgrey);
		background-color: white;
		padding: 10px;
	}
}